<div class="d-flex flex-column justify-content-center align-items-center  w-50 mt-5 m-auto">

    <div class="contenedor m-3 rounded-3 p-2 d-flex border flex-column gap-3 ">
        <h2>Añadir gato</h2>
        <div class="form-group">
            <label for="usuario">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevoGato.nombre" required>
        </div>
        <div class="form-group">
            <label for="contenido">Color</label>
            <input type="text" class="form-control" id="color" name="color" [(ngModel)]="nuevoGato.color" required>
        </div>
        <div>
            <button type="button" (click)="createGatos()"
                class="btn btn-primary  text-white fw-bold">Añadir</button>
        </div>
    </div>
    
    @if (error) {
        <p class="text-warning ">No se ha podido añadir el gato, por favor, inténtelo de nuevo.</p>
    } @else {
        <div class="contenedor">
            @for (gato of gatos; track $index) {
        
                <div class="text-white d-flex gap-3 rounded-3 p-2 border m-3 position-relative">
                <i class="fas fa-cat text-dark ms-2 mt-2"></i>
                <button type="button" (click)="deleteCat(gato._id)"
                    class="position-absolute end-0 me-1 bg-transparent border-0 text-light"><i class="fas fa-xmark"></i></button>
        
                <div>
                    <h2 class="text-dark ">{{ gato.nombre }}</h2>
                    <h3 class="text-dark ">{{ gato.color }}</h3>
                </div>
                <hr>
            </div>
            }
        </div>
    }

</div>    
