<!-- HTML del componente window -->

<div class="d-flex flex-wrap justify-content-center mt-5">

    <!-- Botones que llaman a las funciones de window methods -->
    <button (click)=openWindow()>
        <h4>Open New Window</h4>
    </button>
    <button (click)=closeWindow()>
        <h4>Close Window</h4>
    </button>
    <button (click)=moveWindowTo()>
        <h4>Mover</h4>
    </button>
    <button (click)=resizeWindow()>
        <h4>Resize</h4>
    </button>
    <button (click)=scrollWindowBy()>
        <h4>Scroll</h4>
    </button>
    <button (click)=printPage()>
        <h4>Print</h4>
    </button>
    <button (click)=windowAlert()>
        <h4>Alert</h4>
    </button>
    <button (click)=windowBlur()>
        <h4>Blur</h4>
    </button>
    <button (click)=windowConfirm()>
        <h4>Confirm</h4>
    </button>
    <button (click)=moveWindowBy()>
        <h4>Move By</h4>
    </button>
    <button (click)=windowPrompt()>
        <h4>Prompt</h4>
    </button>
    <button (click)=resizeWindow()>
        <h4>Resize By</h4>
    </button>
    <button (click)=stopWindow()>
        <h4>Stop</h4>
    </button>
    <button (click)=goToEnd()>
        <h4>Scroll End</h4>
    </button>

</div>