<div class="nga-container-sidebar">
  <ul class="list-unstyled p-2">
    <li class="mb-1">
      <button class="btn nga-btn-toggle align-items-center rounded collapsed colo" data-bs-toggle="collapse"
        data-bs-target="#home-collapse" aria-expanded="false">
        Proyectos con API
      </button>
      <div class="collapse" id="home-collapse">
        <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a routerLink="/clima" class="link-dark rounded"><i
                class="fa-cloud fa-solid text-primary mt-1 me-2"></i>Clima App</a>
          </li>
          <li>
            <a routerLink="/errores" class="link-dark rounded"><i
                class="fas fa-dog text-primary mt-1 me-2"></i>Errores</a>
          </li>
          <li>
            <a routerLink="/bored" class="link-dark rounded"><i
                class="fas fa-tired text-primary mt-1 me-2"></i>Bored</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn nga-btn-toggle align-items-center rounded collapsed colo" data-bs-toggle="collapse"
        data-bs-target="#orders-collapse" aria-expanded="false">
        Formulario
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a routerLink="/gatos" class="link-dark rounded">
              <i class="fas fa-cat text-primary mt-1 me-2"></i>Añadir gato</a>
          </li>
          

        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn nga-btn-toggle align-items-center rounded collapsed colo" data-bs-toggle="collapse"
        data-bs-target="#account-collapse" aria-expanded="false">
        Componentes
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">

          <li>
            <a routerLink="/window" class="link-dark rounded">
              <i class="fab fa-windows text-primary mt-1 me-2"></i>Window</a>
          </li>
          <li>
            <a routerLink="/camara" class="link-dark rounded">
              <i class="fas fa-camera text-primary mt-1 me-2"></i>Cámara</a>
          </li>
          <li>
            <a routerLink="/saludo" class="link-dark rounded">
              <i class="fas fa-hand text-primary mt-1 me-2"></i>¡Hola mundo!</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>